@model IEnumerable<MailSender.Models.Domains.EmailRecipient>

<div class="row">
    <table class="table table-hover table-striped mt-1 mb-1">
        <thead>
            <tr>
                <th scope="col">nazwa</th>
                <th scope="col">adres</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
                @foreach (var position in Model)
                {
                    <tr>

                        <td>
                            <a class="font-weight-bold"
                               href="@Url.Action("EmailRecipient", "Home",
                                                            new { emailId = position.EmailId,
                                                                emailRecipientId = position.Id } )">
                                @(position?.Address?.Name)
                            </a>
                        </td>
                        <td>@position.Address.Email</td>
                        <td>
                            <button class="btn btn-danger btn-sm"
                                    onclick="deleteEmailRecipient('@position.Id','@position.EmailId',this)">
                                Usuń Pozycję
                            </button>
                        </td>
                    </tr>
                }
        </tbody>
    </table>
</div>


